[run]
include = contact/*, content/*, glossary/*, message/*, photograph/*, quiz/*, slideshow/*
omit = *migrations*, */tests/*, .*, *config*, manage.py, some/, dist/, sample_project/
plugins =
    django_coverage_plugin
